.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  color: #fff;

  .project-title {
    font-size: 1.5rem;
  }

  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #ffcc00;
      }
    }
  }
}
